.block {
  padding: 10px;
  background-color: var(--black-200);
  border-radius: var(--border-12);
  margin-bottom: 20px;
}
.form__title h2 {
  text-align: center;
  padding-bottom: 10px;
}
.form__input {
  width: 100%;
  margin-bottom: 5px;
}
.form__input input {
  width: 100%;
  border: none;
  border-radius: var(--border-12);
  font-size: 1rem;
  padding: 5px;
}

.form__btn {
  display: flex;
  width: 100%;
}

.form__btn button {
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
}
